a {
    text-decoration: none;
    color: white;
}

.SidebarMenu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 100vh;
    background: radial-gradient(circle at 50% 50%, #217949, #20673f, #1e5635, #1b452c, #173522, #132519, #0c1610, #000000);
    padding: 4px; 
}

.SidebarMenu-action {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100vh;
    background: radial-gradient(circle at 50% 50%, #217949, #20673f, #1e5635, #1b452c, #173522, #132519, #0c1610, #000000);
    padding: 4px; 
    overflow: auto;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
}

.SidebarMenu-action::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}
  
.SidebarMenu-action::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.438);        /* color of the tracking area */
}
  
.SidebarMenu-action::-webkit-scrollbar-thumb {
    background-color: rgb(173, 173, 173);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgba(133, 133, 133, 0.493);  /* creates padding around scroll thumb */
}

.my-flex-cont {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: auto; 
}

.my-flex-box {
    margin: 9px;
    flex: 0 1 auto;
    padding: 5px;
}

.margin-left {
    margin-left: 40px;
    display: none
}

.margin-left-action {
    margin-left: 20px;
}

.collor-text {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: white;
}

.button_slide {
    color: #FFF;
    cursor: pointer;
  }
  
  