.button-btn-style {
    width: 65px;
    height: 29px;
    background-color: black;
    color: white;
    border-radius: 4px;
    box-shadow: 3px -3px 3px 0px white;
    border-style: none;
    margin-right: 12px;
    cursor: pointer;
}

.button-btn-style:hover {
    box-shadow: 3px -3px 3px 0px rgb(242, 255, 0);
}

.button-btn-style:active {
    box-shadow: 3px -3px 3px 0px rgb(106, 255, 0);
}

.car {
    width: 500px;
    width: 100%;
    margin: 100px auto;
}

.car-container {
    position: relative;
    width: 946px;
    height: 300px;
    margin: 0 auto;
}

.leftWheel {
    position: absolute;
    top: 129px;
    left: 144px;
    z-index: 2;
    border-radius: 50%;
}

.rightWheel {
    position: absolute;
    top: 121px;
    right: 92px;
    z-index: 2;
}

.wheel {
     -webkit-animation-name: rotation;
     -webkit-animation-duration: 10s;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-timing-function: linear;
     -moz-animation-name: rotation;
     -moz-animation-duration: 10s;
     -moz-animation-iteration-count: infinite;
     -moz-animation-timing-function: linear;
     -o-animation-name: rotation;
     -o-animation-duration: 10s;
     -o-animation-iteration-count: infinite;
     -o-animation-timing-function: linear;
     animation-name: rotation;
     animation-duration: 10s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
 }

 .wheel-speed {
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotation;
    -moz-animation-duration: 0.1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotation;
    -o-animation-duration: 0.1s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotation;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 }
 
 @-webkit-keyframes rotation {
     0% {-webkit-transform:rotate(0deg);
         -moz-transform:rotate(0deg);
         -o-transform:rotate(0deg);
         transform:rotate(0deg);}
     100% {
         -webkit-transform:rotate(-360-deg);
         -moz-transform:rotate(-360-deg);
         -o-transform:rotate(-360-deg);
         transform:rotate(-360-deg);
         -ms-transform:rotate(-360-deg);
}
 }
 @-moz-keyframes rotation {
     0% {-webkit-transform:rotate(0deg);
         -moz-transform:rotate(0deg);
         -o-transform:rotate(0deg);
         transform:rotate(0deg);}
     100% {
         -webkit-transform:rotate(-360deg);
         -moz-transform:rotate(-360deg);
         -o-transform:rotate(-360deg);
         transform:rotate(-360deg);
         -ms-transform:rotate(-360deg);
}
 }
 @-o-keyframes rotation {
     0% {-webkit-transform:rotate(0deg);
         -moz-transform:rotate(0deg);
         -o-transform:rotate(0deg);
         transform:rotate(0deg);}
     100% {
         -webkit-transform:rotate(-360deg);
         -moz-transform:rotate(-360deg);
         -o-transform:rotate(-360deg);
         transform:rotate(-360deg);
         -ms-transform:rotate(-360deg);
}
 }
 @keyframes rotation {
     0% {-webkit-transform:rotate(0deg);
         -moz-transform:rotate(0deg);
         -o-transform:rotate(0deg);
         transform:rotate(0deg);}
     100% {
         -webkit-transform:rotate(-360deg);
         -moz-transform:rotate(-360deg);
         -o-transform:rotate(-360deg);
         transform:rotate(-360deg);
         -ms-transform:rotate(-360deg);
}
 }

 .red {
    box-shadow: 1px -4px 20px 5px #ff0000;
 }

 .yellow {
    box-shadow: 1px -4px 20px 5px #ffdd00;
 }

 .blue {
    box-shadow: 1px -4px 20px 5px #00b7ff;
 }



 .box-color-center {
    position: absolute;
    top: 210px;
    left: 48px;
    margin-top: 49px;
    width: 826px;
    border-radius: 20px;
    animation-name: blink;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    z-index: 1;
    cursor: pointer;
}

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  img {
      z-index: 2;
}
.rotate {
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
}

.marquee{
    position: absolute;
    bottom:30px;
    left:0px;
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    }
  
    .marquee .speed-1 {
    color:#ffffff;
    font-size:25px;
    display:inline-block;
    padding-left:100%;
    -webkit-animation: marquee  10s reverse linear;
    animation: marquee  10s reverse linear;
    animation-iteration-count: infinite;
}

.marquee .speed-2 {
    color:#ffffff;
    font-size:25px;
    display:inline-block;
    padding-left:100%;
    -webkit-animation: marquee  0.3s reverse linear;
    animation: marquee  0.3s reverse linear;
    animation-iteration-count: infinite;
}

.sped-block {
    width: 222px;
    background-color: white;
    height: 3px;
}
     
    @-webkit-keyframes marquee {
    0%{-webkit-transform: translate(0, 0);}
    100%{-webkit-transform: translate(-100%, 0);}
    }
    @keyframes marquee{
    0%{transform: translate(0, 0);}
    100%{transform: translate(-100%, 0)}
    }

    