.ModalDialog-close {
    display: none;
}

.minimize-modal {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
    z-index: 9999;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    box-shadow: 5px 8px 13px 0px rgb(129, 168, 50);
}

.minimize-text {
    padding: 8px;
    color: #10ff00;
    margin: 0 auto;
}

.ModalDialog {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    padding: 75px;
    background-color: rgba(0, 0, 0, 0.397);
    z-index: 999px;
}

.full-width-content {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 100vh;
}

.content {
    position: relative;
    background-color: rgb(20, 20, 20);
    width: 80%;
    margin: 0 115px auto;
    height: 75%;
}

.heder {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heder-flex-element {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
}

.heder-close-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

   .heder-close-flex-element {
    margin: 2px;
    padding: 5px;
    flex: 0 1 auto;
}

.style-yellow {
    cursor: pointer;
    width: 15px;
	height: 15px;
	background: yellow;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.style-green {
    cursor: pointer;
    width: 15px;
	height: 15px;
	background: green;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.style-red {
    cursor: pointer;
    width: 15px;
	height: 15px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.main {
    text-align: center;
}


.footer {
    width: 100%;
    height: 50px;
    background-color: black;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
}

.stile-text-mvs {
        text-shadow: 0px 1px 7px #10ff00, 0 0 0em #fdfdfd;
        color: #4bff00;
      
}