.displayNone {
    display: none;
}

.display {
    width: auto;
}

.AlertCostoms {
    padding: 10px;
    width: 200px;
    text-align: center;
    color: black;
    background-color: yellow;
    box-shadow: 2px 2px 2px 2px rgb(215, 100, 29);
}