body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Created with https://www.css-gradient.com */
color: rgb(255, 255, 255);
background-color: rgb(56, 56, 56);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Loyout {
  margin-left: 75px;  
}

.button-modal {
  cursor: pointer;
  background-color: black;
  border: none;
  /* padding: 0.5rem; */
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  color: white;
  box-shadow: 5px 8px 13px 0px olivedrab;
}

.button-modal:active {
  cursor: pointer;
  background-color: black;
  border: none;
  /* padding: 0.5rem; */
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  color: rgb(201, 200, 200);
  box-shadow: 5px 8px 13px 0px rgb(129, 168, 50);
}


  



